@using MetaForm.Data
@using MetaForm.models
@page "/lists"

@inject ListService ListService

<h3>Lists</h3>
<a href="/create-list">Create New List</a>
<ul>
    @if (lists != null)
    {
        @foreach (var list in lists)
        {
            <li>
                ID: @list.Id - <a href="/list-details/@list.Id">@list.Name</a>
                <button @onclick="() => DeleteList(list.Id)">Delete</button>
            </li>
        }
    }
</ul>
@code {
    private List<List> lists;

    protected override async Task OnInitializedAsync()
    {
        lists = await ListService.GetListsAsync();
    }

    private async Task DeleteList(int id)
    {
        await ListService.DeleteListAsync(id);
        lists = await ListService.GetListsAsync(); // Refresh the list
    }
}